:root {
    --dark: #18181b;
    --darker: #101012;
    --accent: #db1d70;
}

html, body {
    margin: 0;
    padding: 0;
    align-items: center;
}

h1,h2 {
    text-align: center
}

body {
    font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    /*color: #4d4d4d;*/
    color: #fff;
    min-width: 230px;
    max-width: 1000px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    background-color: var(--dark);
}

div {
    border-radius: 10px;
    padding: 5px;
}

.feed-card {
    /*background: #899499;*/
    margin: 10px auto;
    padding: 10px;
    max-width: 700px;
}

.article-card {
    /*background-color: #36454F;*/
    outline: 5px solid var(--accent);
    background-color: var(--darker);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    transition: outline 100ms;
}

.article-card:hover {
    outline: 8px solid var(--accent);
    cursor: pointer;
}
